
.home-page {

    background-image: url('../../img/gray_pepper.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    // height: auto;
    position: relative;
    width: 100%;


    .full-pic { // This image is only rendered when screen size is <== 700px (React-responsive MediaQuery)
    
        position: fixed;
        height: 100%;

        
    }

    .home {
    
        height: 100vh;
        background-image: url('../../img/gray_pepper.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: fixed ;
        position: relative;
        background: black;
        opacity: .5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    
        .tag-line {
    
            // margin-right: 10%;
            font-size: 5rem;
            color: white;
            text-shadow: 2px 1px 5px black;
            border-bottom: 5px solid #42873F;
    
    
        }
    
        .sub-tag {
    
            font-size: 5rem;
            // margin-right: 10%;
            color: white;
            text-shadow: 5px 5px 10px black;
            // border: 1px solid red;
            // min-width: 45%;
            text-align: center;
        }
    
    }


    @media (max-width: 790px) {

        .home{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // padding: 5%;
            // display: flex;
            opacity: .55;
            // max-height: 130vh;
            // min-height: 100vh;
    
            .tag-line, .sub-tag {
                width: 80%;
                position: initial;
                right: 10%;
                text-align: center;
                font-size: 3rem;
                // text-shadow: 1px 5px 10px green;
            }
    
        }
    }
}