
* {
  margin: 0;
  box-sizing: border-box;
  // overflow: hidden;
}
html {
  &::-webkit-scrollbar {
    display: none;
  }
}
body {
  font-size: 62.5%;
  a {
    text-decoration: none; 
  }

  
  
      
}



