
* {
  margin: 0;
  box-sizing: border-box;
  // overflow: hidden;
}
html {
  &::-webkit-scrollbar {
    display: none;
  }
}
body {
  font-size: 62.5%;
  a {
    text-decoration: none; 
  }

  background-color: #e2e2e2;
  position: relative;
      

  .hamburger {

    width: 6%;
    position: fixed;

    .line {
      height: 2px;
    }
  }
}





