

.intro_card_div{
    width: 100%;
    height: 100%;
    background-image: url('../img/gray_pepper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: 100%;
    // position: absolute;
    overflow: hidden;
    


    .bottle_logo {
        width: 25%;
        // position: absolute;
        top: 15%;
        right: 45%;
        cursor: pointer;
        height: 50vh;
        background-image: url('../img/white_logo.png');
        background-repeat: no-repeat;
        background-size: 90%;
        transition: all .3s ease-in-out;


        &:hover {
            background-image: url('../img/simes_bottle_top_burned.png');
            transition: all .5s ease-in-out;
            width: 26%;
        }

       
        
    }

    @media (max-width: 700px){
        position: relative;
        height: 27vh;
       
        .bottle_logo {
            top: 5%;
        }
    }

}