

.middle_card {
    // height: 100%;
    // width: 100%;
    // position: absolute;
    // overflow: scroll;
    display: flex;
    // flex-direction: column;
    font-family: 'Oregano', cursive;
    background: white;

    // background-image: url('../img/pattern1.png') 

    p {
        width: 55%;
        // height: 100vh;
        font-size: 2rem;
        background: white;
        text-align: justify;
        line-height: 2;
        word-spacing: 5px;
        margin-top: 5%;
        padding: 5%;
        border-right: 10px solid #418B41;
        border-radius: 10px;
        
        // border-radius: 50%;
    }

    .statement {
        // border: 1px solid red;
        width: 40%;
        display: flex;
        flex-direction: column;
        color: black;
        // border: 1px solid #418B41;
        height: auto;
        
        
        h1 {
            font-size: 5rem;
            color: #41863F;
        }

        .middle_logo {
            margin: 25% auto 5% auto;
        }

        h3 {
            text-align: center;
            font-size: 2.5rem;
            width: 80%;
            margin: 0 auto;
            line-height: 1.5;
            word-spacing: 1rem;
            color: black;
            // border-bottom: 10px solid #418B41;
            border-radius: 10px;
        }

        .dot1 {
            color: green;
        }

        .dot2 {
            color: red;
        }

        

    }

    @media (max-width: 700px) {
        flex-direction: column;
        margin-bottom: 15%;
        p {
            width: 100%;
            font-size: 1.5rem;
            margin: auto;
            border: none;
            
        }

       .sections{
           display: flex;
        //    border: 1px solid red;
           align-items: center;
           padding: 2%;
           p {
               font-size: 1.3rem;
               border: 1px solid black;
               width: 70%;
           }
       }

       .deliver {
           i {
               color: blue;
           }
       }

       .free {

            flex-direction: row-reverse;
           i {
               color: green;
           }
       }

       .natural {
           i {
               color: lightgreen;
           }
       }

        .middle_logo {
            margin: 2% auto;
            width: 45%;

        }
        
        h3 {
            font-size: 1.5rem;
        }
        
    }
}



