.modal_container {
    display: flex;
    flex-direction: column;


    img {
        width: 85%;
        align-self: center;
    }

    .display {
        // border: 1px solid rebeccapurple;
        text-align: center;
        font-size: 3.5rem;
    }

    p {
        font-size: 1.5rem;
        padding: 3%;
        text-align: center;
    }


    .checkout, .add_to_cart {
        color: black;
        border: 1px solid black;
        border-radius: 15px;
        width: 100%;
        margin-top: 2%;

    }

    .add_to_cart {
        border-color: dodgerblue;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: dodgerblue;
            color: white;
            transition: all 0.3s ease-in-out;

        }
    }

    .checkout {
        border-color: green;
        transition: all 0.3s ease-in-out;

        &:hover{

            background: green;
            color: white;
            transition: all 0.3s ease-in-out;
        }
    }

    .total {
        font-size: 2.5rem;
        margin: 2% 0;
    }
    
}