
.picture_window {
    width: 100%;
    background-image: url('../img/dry-flavors-herbs.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

   

   .container {
       position: absolute;
       z-index: 2;
       height: 100%;
       width: 100vw;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;

       .content_display {
        height: 1vh;
        width: 50%;
        text-align: center;
        font-size: 6rem;
        font-weight: 700;
        text-shadow: 0 1px 0 black,
               0 2px 0 black,
               0 3px 0 black,
               0 4px 0 black,
               0 5px 0 black,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
        transition: all 0.3s ease;

        p {
            margin-top: -2%;
        }
        
        }

       .animation_div {
        // position: relative;'
            // border: 1px solid black;
            width: 100%;
        
       }
            
        .jar {
            cursor: pointer;
            // width: 40%;
            position: absolute;
            bottom: 27%;
            right: 40%; 
            transition: all 0.3s ease;
          

            &:hover {
                width: 25%;
                border-bottom: 15px solid green;
                box-shadow: 0px 5px 1px black;
                transition: all 0.3s ease-in-out;
                border-radius: 10px;
            }
        }

        .jar1 {
            left: 40%;
          


        }

        .jar2 {
            right: 40%;
        

        }

        .jar3 {
            right: 40%;
           


        }
       

        h1 {
            font-size: 4rem;
            // width: 75%;
            text-align: center;
            // background: black;
            color: black;
            border-bottom: 10px solid black;
            box-shadow: 0 2px 0 white;
            border-radius: 10px;
            // opacity: .5;
            position: relative;
            font-family: 'Oregano', cursive;
            text-shadow: 3px 1px 1px white;
            word-spacing: 25px;

            span {
                font-size: 6rem;
            }
        }

        h2 {
            font-size: 4rem;
            color: black;
            border-top: 10px solid black;
            box-shadow: 0 -2px 0 white;
            border-radius: 10px;
            font-family: 'Oregano', cursive;
            word-spacing: 25px;
            text-shadow: 3px 1px 1px white;

        }

        .three {
            z-index: -1;
            position: absolute;
            left: -11%;
            top: -130%;
            font-size: 25rem;
            transform: rotate(30deg);
            color: #418B41;
            text-shadow: 5px 15px 1px black;
        }

        .exclaim {
            position: absolute;
            bottom: 1%;
            font-size: 10rem;
        }

   } 
    .top_index {
        color: red;
        z-index: 2;
        opacity: 1;
    }

    .overlay {
        z-index: 1;
        height: 100%;
        width: 100%;
        background: gray;
        opacity: .5;
    }

    @media (max-width: 700px) {
       
        .container {
            width: 100%;

           
            .jar {
                position: initial;
                width: 5%;
            }
            

            h1 {
                font-size: 2rem;
                border: none;
                box-shadow: none;

            }


            .image_div {
                // border: 2px solid saddlebrown;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 50vh;
                width: 60%;
                // overflow: hidden;
                img {
                    width: 70%;
                    align-self: center;
                }

                p {
                    border: 2px solid black;
                    border-radius: 15px;
                    display: flex;
                    justify-content: center;
                    font-size: 3rem;
                    font-weight: 700;
                    text-shadow: 1px 1px 5px black;
                    transition: all 0.3s ease-in-out;

                    

                    
                }

                .hot {
                    color: red;
                    &:hover {
                        border: 4px solid red;
                        background: white;
                    }
                }
                .medium {
                    color: yellow;
                    &:hover {
                        border: 4px solid yellow;
                        background: white;
                    }
                }
                .mild {
                    color: green;
                    &:hover {
                        border: 4px solid green;
                        background: white;
                    }
                }
            }

            .three {
                display: none;
                
            }
            .exclaim {
                font-size: 3rem;
            }
        }
    }
}