
 .footer2 {
     * {
         margin: .2%;
     }
        display: flex;
        flex-direction: column;
        background: black;
        color: white;
        opacity: .9;
        align-items: center;
        font-size: 1.2rem;

        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 1%;
    

        .contacts {
            display: flex;
            // font-size: 1.5rem;
            justify-content: space-between;
            // border: 1px solid red;
            width: 5%;




        }

        @media (max-width: 790px) {

            position: fixed;
            bottom: -12%;
            transition: all .3s ease;

            .contacts {
                // justify-content: ;
                width: 15%;
            }

            &.slide-up {
                bottom: 0;
            }
        }
        
}