.header2 {
    transition: all .5s ease-in-out;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    // min-width: 50%;
    z-index: 1;

    .nav-logo {
        transition: all .5s ease-in-out;
        width: 10%;
    }

    .nav {
        min-width: 65%;
        display: flex;
        // border: $debug;
        align-items: center;
        justify-content: space-evenly;
        // border: 1px solid red;
        
        .nav-links {

            color: white;
            opacity: .75;
            font-size: 1.5rem;
            font-weight: bold;
            text-decoration: none;
            font-family: 'Finger Paint', cursive;

            &:hover {
                opacity: 1;
            }
        }
    }

}

.active-header2 { // These styles only apply if the screen is scrolled passed like the very top....

    transition: all .5s ease-in-out;
    background: black;
    opacity: .9;
    padding: 1%;

    .nav-logo {
        transition: all .5s ease-in-out;
        width: 2.5%;
        background: white;
    }

}

.standard {

    transition: all .5s ease-in-out;
    background: black;
    opacity: .9;
    padding: 1%;

    .nav-logo {
        transition: all .5s ease-in-out;
        width: 2.5%;
        background: white;
    }

}

.mobile {

    transition: all .3s ease;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: black;
    opacity: .8;
    // visibility: hidden;
    // z-index: 3;
    position: fixed;
    left: -50%;


    .nav {

        // border: 1px solid red;
        height: 100%;
        width: 100%;
        flex-direction: column;

        .nav-links {
            opacity: 1;
            text-align: center;

        }
       
    }

    &.show {

        visibility: visible;
        left: 0;
    }


}